
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font - Edu NSW ACT Cursive for all text */
body {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

.edu-nsw-act-cursive {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}